.gia {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 9px * 2 - 40px * 2);
  padding: 84px 40px 153px;
  border-radius: 4px;
  margin: 200px 0 0;
}

.gia__title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
  /* or 47px */

  text-align: center;

  color: #FFFFFF;
  margin: 0;
  max-width: 1153px;
}

.gia__title-link {

  color: #FFFFFF;
  text-decoration: none;
  text-decoration-line: underline;
  transition: color 0.3s ease-in-out;
}

.gia__title-link:hover {
  color: #855CF8;
}

.gia__text {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: #F7F7F7;

  margin: 25px 0 0;
  max-width: 863px;
}

.gia__container {
  margin: 123px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.gia__diamond {
  position: absolute;
  top: 135px;
  z-index: 2;
}

.gia__diamond-bg {
  position: absolute;
  top: -245px;
  z-index: 1;
}

.gia__cards {
  display: grid;
  grid-template-columns: 220px 220px;
  grid-template-rows: 52px;
  grid-auto-rows: 52px;
  row-gap: 388px;
  column-gap: 665px;

  width: 100%;
  align-items: center;
  justify-items: center;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(3.49106px);
  border-radius: 38.4017px;
  padding: 40px 0 40px 31px;
}

.gia__card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gia__card-icon {
  width: 52px;
  height: 52px;
  margin: 0 12px 0 0;
}

.gia__card-title {
  margin: 0;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */



  color: #E4E4E4;

}

.gia__card-text {
  margin: 8px 0 0;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 20px */



  color: #E4E4E4;

}

.gia__card-texts {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1144px) {
  .gia {
    width: calc(100% - 6px * 2 - 40px * 2);
    padding: 60px 40px 90px;
    margin: 116px auto 0;
  }

  .gia__title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    max-width: 693px;
  }

  .gia__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin: 20px 0 0;
    max-width: 513px;
  }

  .gia__container {
    margin: 60px 0 0;
  }

  .gia__cards {
    column-gap: 300px;
    max-width: 776px;
  }
}

@media (max-width: 855px) {
  .gia__cards {
    column-gap: 300px;
  }
}

@media (max-width: 783px) {
  .gia__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gia__card-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gia__diamond {
    position: relative;
    top: unset;
    width: 185px;
    height: 136px;
  }

  .gia {
    width: calc(100% - 4px * 2);
    padding: 28px 0 52px;
  }

  .gia__title {
    width: calc(100% - 18px * 2);
    max-width: 400px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
  }

  .gia__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    width: calc(100% - 16px * 2);
    max-width: 400px;
  }

  .gia__container {
    margin: 32px 0 0;
  }

  .gia__cards {
    margin: 24px 0 0;
    grid-template-columns: repeat(auto-fit, minmax(136px, 1fr));
    background: rgba(129, 79, 79, 0.28);
    grid-template-rows: 88px;
    grid-auto-rows: 88px;
    row-gap: 24px;
    column-gap: 0px;
    width: 400px;
    max-width: 400px;
    padding: 52px 0;
  }

  .gia__card-icon {
    width: 32px;
    height: 32px;
  }

  .gia__card-title {
    margin: 12px 0 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
  }

  .gia__card-text {
    margin: 12px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
  }

  .gia__diamond-bg {
    top: -447px;
    transform: scale(0.5);
  }
}

@media (max-width: 513px) {
  .gia__cards {
    width: 100%;
  }
}
