.heading {
  margin: 300px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
}

.heading__bg {
  z-index: 0;
  position: absolute;
  top: -400px;

}

.heading__title {
  z-index: 1;
  margin: 0;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 82px;
  /* or 68px */
  text-align: center;
  /* main/300 */
  color: #FFFFFF;
}

.heading__text {
  z-index: 1;
  margin: 33px 0 0;
  font-family: Manrope;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  /* or 43px */
  text-align: center;
  color: #FFFFFF;
  max-width: 717px;
}

@media (max-width: 1183px) {
  .heading {
    margin: 250px 0 0;
  }

  .heading__title {
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 82px;
  }

  .heading__text {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    max-width: 667px;
  }

  .heading__bg {
    transform: scale(0.7);
  }
}

@media (max-width: 589px) {
  .heading {
    margin: 200px 0 0;
  }

  .heading__title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;

  }

  .heading__text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;
    max-width: 100%;
    margin: 32px 0 0;
  }

  .heading__bg {
    transform: scale(0.4);
    top: -500px;
  }
}