.about-coin {
  display: flex;
  flex-direction: column;
  margin: 221px 0 0;
  position: relative;
}

.about-coin__card-bg {
  position: relative;
  z-index: 0;
  position: absolute;
  top: -300px;
  left: -400px;
}

.about-coin__title {
  position: relative;
  z-index: 1;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 71px;
  /* identical to box height */


  color: #FFFFFF;
  margin: 0;
}

.about-coin__cards {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  margin: 46px 0 0;
  justify-content: space-between;
}

.about-coin__cards:last-of-type {
  margin: 20px 0 0;
}

.about-coin__card {
  display: flex;
  flex-direction: column;
  padding: 8px 12px 24px 20px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 24px;
  margin: 0 20px 0 0;
  width: calc(50% - 10px);
}

.about-coin__card:last-of-type {
  margin: 0;
}

.about-coin__card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */


  color: #FFFFFF;
  margin: 24px 0 0;
}

.about-coin__card-img {
  width: 60px;
  height: 60px;
}

.about-coin__card-text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  color: #FFFFFF;
  margin: 16px 0 0;
}

@media (max-width: 1247px) {
  .about-coin {
    margin: 75px 0 0;
  }

  .about-coin__title {
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 60px;
  }

  .about-coin__cards {
    margin: 20px 0 0;
  }

  .about-coin__card-bg {
    position: relative;
    z-index: 0;
    position: absolute;
    top: -100px;
    left: -400px;
  }
}

@media (max-width: 878px) {
  .about-coin {
    margin: 153px 0 0;
    width: 100%;
  }

  .about-coin__title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
  }

  .about-coin__cards {
    margin: 24px 0 0;
    flex-direction: column;
  }

  .about-coin__card {
    padding: 8px 12px 20px;
    width: calc(100% - 12px * 2);
    margin: 0;
  }

  .about-coin__card:last-of-type {
    margin: 20px 0 0;
  }

  .about-coin__card-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;

  }

  .about-coin__card-text {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
  }
}
