.scheme {
    margin: 202px 0 0;
    display: flex;
    flex-direction: column;
}

.scheme__img {
    width: 100%;
    margin: 120px 0 0;
}

.scheme__title {
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 130%;
    /* identical to box height, or 68px */


    color: #FFFFFF;
    margin: 0;
}

.scheme__text {
    margin: 20px 0 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
    /* or 32px */
    max-width: 1089px;

    color: #F7F7F7;

}

@media (max-width: 1183px) {
    .scheme {
        margin: 120px 0 0;

    }
}

@media (max-width: 589px) {
    .scheme {
        margin: 70px 0;

    }

    .scheme__title {
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 130%;
        /* or 47px */
    }

    .scheme__text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 160%;
    }
    .scheme__img{
        margin: 70px 0 0;
    }
}